<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDnhagLDm8lQG1VT0HZ4upRmRFiKpJMeYM</string>
	<key>GCM_SENDER_ID</key>
	<string>478587745821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cookit</string>
	<key>PROJECT_ID</key>
	<string>cookit-5b06f</string>
	<key>STORAGE_BUCKET</key>
	<string>cookit-5b06f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478587745821:ios:c80d9e2d5a5fa2ea87b8f4</string>
</dict>
</plist>